/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.timekeep-container {
	width: 100%;
	display: flex;
	flex-flow: column;
	gap: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 3rem;
}

.timekeep-table {
	display: block;
	width: 100%;
}

.timekeep-table-head {
	background-color: var(--color-base-30);
	position: sticky;
	top: -1px;
	z-index: 1;
}

.timekeep-row {
	width: 100%;
}

.timesheet-editing {
	display: flex;
	flex-flow: column;
	gap: 0.5rem;
	padding: 0.5rem;
	border: 1px solid var(--color-base-40);
	margin: 0.25rem 0;
}

.timesheet-editing-actions {
	display: flex;
	flex-flow: row;
	gap: 0.5rem;
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;
}

.timekeep-input {
	width: 100%;
	margin-top: 0.5rem;
}

.timekeep-row:nth-child(even) {
	background-color: var(--color-base-20);
}

.timekeep-row:nth-child(even):hover {
	background-color: var(--color-base-20);
}

.timekeep-col {
	vertical-align: middle !important;
}

.timekeep-col--name {
	width: 30%;
}

.timekeep-col--time {
	width: 20%;
}

.timekeep-col--duration {
	width: 10%;
}

.timekeep-time {
	font-size: 0.8rem;
}

.timekeep-col--actions {
	width: 10%;
	position: relative;
}

.timekeep-actions-wrapper {
	display: flex;
	flex-flow: row;
	gap: 0.5rem;
	flex: auto;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.timekeep-action {
	padding: 0.5rem;
	font-size: 0.8rem;
}

.timekeep-timers {
	display: flex;
	flex-flow: row;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.timekeep-timer {
	display: flex;
	flex-flow: column;
	gap: 0rem;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.timekeep-timer-value {
	font-size: 3rem;
	font-weight: bolder;
}

.timekeep-timer-value-small {
	font-size: 0.9rem;
	font-weight: bolder;
}

.timekeep-start {
	align-self: center;
	font-size: 2rem;
	max-height: none;
	height: auto;
	padding: 1rem;
}

.timekeep-name {
	padding: 0.5rem;
	align-self: center;
}

.timekeep-actions {
	display: flex;
	flex-flow: row;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}
